/* Add CSS Styling */

.red-background {
    background-color: pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.bigger {
    font-size: 24px;
}

#big-blue {
font-size: 36px;
color: blue;
}

#green-bold {
    font-size: 24x;
    font-weight: bold;
    background-color: green;
}

